In [1]:
import pandas as pd
import numpy as np

## Read the dataset and replace dashes with 0

In [2]:
Laliga = pd.read_csv('Laliga.csv',header=1)
Laliga

,Pos,Team,Seasons,Points,GamesPlayed,GamesWon,GamesDrawn,GamesLost,GoalsFor,GoalsAgainst,Champion,Runner-up,Third,Fourth,Fifth,Sixth,T,Debut,Since/LastApp,BestPosition
0,1,Real Madrid,86,4385,2762,1647,552,563,5947,3140,33,23,8,8,3,4,79,1929,1929,1
1,2,Barcelona,86,4262,2762,1581,573,608,5900,3114,25,25,12,12,4,6,83,1929,1929,1
2,3,Atletico Madrid,80,3442,2614,1241,598,775,4534,3309,10,8,16,9,7,6,56,1929,2002-03,1
3,4,Valencia,82,3386,2664,1187,616,861,4398,3469,6,6,10,11,10,7,50,1931-32,1987-88,1
4,5,Athletic Bilbao,86,3368,2762,1209,633,920,4631,3700,8,7,10,5,8,10,49,1929,1929,1
5,6,Sevilla,73,2819,2408,990,531,887,3680,3373,1,4,4,5,12,6,32,1934-35,2001-02,1
6,7,Espanyol,82,2792,2626,948,608,1070,3609,3889,-,-,4,5,2,5,16,1929,1994-95,3
7,8,Real Sociedad,70,2573,2302,864,577,861,3228,3230,2,3,2,5,4,3,19,1929,2010-11,1
8,9,Zaragoza,58,2109,1986,698,522,766,2683,2847,-,1,4,5,4,4,18,1939-40,2012-13,2
9,10,Real Betis,51,1884,1728,606,440,682,2159,2492,1,-,2,3,4,4,14,1932-33,2015-16,1
10,11,Deportivo La Coruna,45,1814,1530,563,392,575,2052,2188,1,5,4,1,-,1,12,1941-42,2014-15,1
11,12,Celta Vigo,51,1789,1698,586,389,723,2278,2624,-,-,-,2,4,5,11,1939-40,2012-13,4
12,13,Valladolid,42,1471,1466,463,384,619,1767,2180,-,-,-,1,1,1,3,1948-49,2013-14,4
13,14,Racing Santander,44,1416,1428,453,336,639,1843,2368,-,1,1,2,-,1,5,1929,2011-12,2
14,15,Sporting Gijon,43,1389,1458,471,358,629,1753,2152,-,1,1,2,2,1,7,1944-45,2015-16,2
15,16,Osasuna,37,1351,1318,426,327,565,1500,1834,-,-,-,2,2,2,6,1935-36,2016-17,4
16,17,Malaga,36,1314,1255,390,330,535,1421,1763,-,-,-,1,-,1,2,1949-50,2008-09,4
17,18,Oviedo,38,1174,1192,408,292,492,1642,1951,-,-,3,2,2,4,11,1933-34,2000-01,3
18,19,Mallorca,27,1148,988,333,256,399,1182,1371,-,-,2,-,2,1,5,1960-61,2012-13,3
19,20,Las Palmas,33,1020,1096,367,242,487,1347,1746,-,1,1,1,1,1,5,1951-52,2015-16,2
20,21,Villarreal,17,970,646,266,172,208,892,789,-,1,1,2,3,2,9,1998-99,2013-14,2
21,22,Granada,23,667,742,218,175,349,819,1157,-,-,-,-,-,2,2,1941-42,2016-17,6
22,23,Rayo Vallecano,17,662,652,189,148,305,760,1088,-,-,-,-,-,-,-,1977-78,2015-16,8
23,24,Elche,21,606,678,203,180,295,750,1022,-,-,-,-,1,1,2,1959-60,2014-15,5
24,25,Getafe,12,553,456,147,112,197,520,633,-,-,-,-,-,1,1,2004-05,2015-16,6
25,26,Hercules,20,538,628,184,149,295,716,1050,-,-,-,-,1,4,5,1935-36,2010-11,5
26,27,Tenerife,13,510,494,155,128,211,619,744,-,-,-,-,2,-,2,1961-62,2009-10,5
27,28,Murcia,18,445,586,145,143,298,607,992,-,-,-,-,-,-,-,1940-41,2007-08,11
28,29,Alaves,12,421,380,125,81,174,458,623,-,-,-,-,-,1,1,1930-31,2016-17,6
29,30,Levante,11,416,402,113,95,194,430,632,-,-,-,-,-,1,1,1963-64,2015-16,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31,32,Sabadell,14,353,426,129,95,202,492,720,-,-,-,1,1,-,2,1943-44,1987-88,4
32,33,Cadiz,12,343,448,104,127,217,393,662,-,-,-,-,-,-,-,1977-78,2005-06,12
33,34,Logrones,9,293,346,96,92,158,291,489,-,-,-,-,-,-,-,1987-88,1996-97,7
34,35,Castellon,11,285,334,103,79,152,419,588,-,-,-,1,2,-,3,1941-42,1990-91,4
35,36,Albacete,7,277,270,76,76,118,320,410,-,-,-,-,-,-,-,1991-92,2004-05,7
36,37,Almeria,6,242,228,62,56,110,244,366,-,-,-,-,-,-,-,2007-08,2014-15,8
37,38,Cordoba,9,230,282,82,63,137,285,430,-,-,-,-,1,-,1,1962-63,2014-15,5
38,39,Compostela,4,190,160,52,45,63,199,241,-,-,-,-,-,-,-,1994-95,1997-98,10
39,40,Recreativo,5,188,186,50,46,90,202,296,-,-,-,-,-,-,-,1978-79,2008-09,8
40,41,Burgos CF,6,168,204,59,50,95,216,310,-,-,-,-,-,-,-,1971-72,1979-80,12
41,42,Pontevedra,6,150,180,53,44,83,165,221,-,-,-,-,-,-,-,1963-64,1969-70,7
42,43,Numancia,4,148,152,37,37,78,155,253,-,-,-,-,-,-,-,1999-00,2008-09,17
43,44,Eibar,3,132,114,35,27,52,139,167,-,-,-,-,-,-,-,2014-15,2014-15,10
44,45,Arenas,7,107,130,43,21,66,227,308,-,-,1,-,3,-,4,1929,1934-35,3
45,46,Real Burgos,3,96,114,26,44,44,101,139,-,-,-,-,-,-,-,1990-91,1992-93,9
46,47,Gimnastic,4,91,116,34,16,66,181,295,-,-,-,-,-,-,-,1947-48,2006-07,7
47,48,Extremadura,2,83,80,20,23,37,62,117,-,-,-,-,-,-,-,1996-97,1998-99,17
48,49,Merida,2,81,80,19,24,37,70,115,-,-,-,-,-,-,-,1995-96,1997-98,19
49,50,Alcoyano,4,76,108,30,16,62,145,252,-,-,-,-,-,-,-,1945-46,1950-51,10
50,51,Jaen,3,71,90,29,13,48,121,183,-,-,-,-,-,-,-,1953-54,1957-58,14
51,52,Real Union,4,56,72,21,14,37,153,184,-,-,-,-,-,1,1,1929,1931-32,6
52,53,AD Almeria,2,52,68,17,18,33,71,116,-,-,-,-,-,-,-,1979-80,1980-81,10
53,54,Europa,3,42,54,18,6,30,97,131,-,-,-,-,-,-,-,1929,1930-31,8
54,55,Lleida,2,40,68,13,14,41,70,182,-,-,-,-,-,-,-,1950-51,1993-94,16
55,56,Leganes,1,35,38,8,11,19,36,55,-,-,-,-,-,-,-,2016-17,2016-17,17
56,57,Xerez,1,34,38,8,10,20,38,66,-,-,-,-,-,-,-,2009-10,2009-10,20
57,58,Condal,1,22,30,7,8,15,37,57,-,-,-,-,-,-,-,1956-57,1956-57,16
58,59,Atletico Tetuan,1,19,30,7,5,18,51,85,-,-,-,-,-,-,-,1951-52,1951-52,16
59,60,Cultural Leonesa,1,14,30,5,4,21,34,65,-,-,-,-,-,-,-,1955-56,1955-56,15
60,61,Girona,1,-,-,-,-,-,-,-,-,-,-,-,-,-,-,2017-18,2017-18,9

In [3]:
Laliga.shape

(61, 20)

In [4]:
Laliga.replace('-',0,inplace=True)

## Print all the teams which have started playing between 1930-1980.

### Splitting the 'Debut' column with '-' to get start and end year

In [5]:
Laliga['Debut_Split'] = Laliga['Debut'].str.split('-')
Laliga

,Pos,Team,Seasons,Points,GamesPlayed,GamesWon,GamesDrawn,GamesLost,GoalsFor,GoalsAgainst,...,Runner-up,Third,Fourth,Fifth,Sixth,T,Debut,Since/LastApp,BestPosition,Debut_Split
0,1,Real Madrid,86,4385,2762,1647,552,563,5947,3140,...,23,8,8,3,4,79,1929,1929,1,[1929]
1,2,Barcelona,86,4262,2762,1581,573,608,5900,3114,...,25,12,12,4,6,83,1929,1929,1,[1929]
2,3,Atletico Madrid,80,3442,2614,1241,598,775,4534,3309,...,8,16,9,7,6,56,1929,2002-03,1,[1929]
3,4,Valencia,82,3386,2664,1187,616,861,4398,3469,...,6,10,11,10,7,50,1931-32,1987-88,1,"[1931, 32]"
4,5,Athletic Bilbao,86,3368,2762,1209,633,920,4631,3700,...,7,10,5,8,10,49,1929,1929,1,[1929]
5,6,Sevilla,73,2819,2408,990,531,887,3680,3373,...,4,4,5,12,6,32,1934-35,2001-02,1,"[1934, 35]"
6,7,Espanyol,82,2792,2626,948,608,1070,3609,3889,...,0,4,5,2,5,16,1929,1994-95,3,[1929]
7,8,Real Sociedad,70,2573,2302,864,577,861,3228,3230,...,3,2,5,4,3,19,1929,2010-11,1,[1929]
8,9,Zaragoza,58,2109,1986,698,522,766,2683,2847,...,1,4,5,4,4,18,1939-40,2012-13,2,"[1939, 40]"
9,10,Real Betis,51,1884,1728,606,440,682,2159,2492,...,0,2,3,4,4,14,1932-33,2015-16,1,"[1932, 33]"
10,11,Deportivo La Coruna,45,1814,1530,563,392,575,2052,2188,...,5,4,1,0,1,12,1941-42,2014-15,1,"[1941, 42]"
11,12,Celta Vigo,51,1789,1698,586,389,723,2278,2624,...,0,0,2,4,5,11,1939-40,2012-13,4,"[1939, 40]"
12,13,Valladolid,42,1471,1466,463,384,619,1767,2180,...,0,0,1,1,1,3,1948-49,2013-14,4,"[1948, 49]"
13,14,Racing Santander,44,1416,1428,453,336,639,1843,2368,...,1,1,2,0,1,5,1929,2011-12,2,[1929]
14,15,Sporting Gijon,43,1389,1458,471,358,629,1753,2152,...,1,1,2,2,1,7,1944-45,2015-16,2,"[1944, 45]"
15,16,Osasuna,37,1351,1318,426,327,565,1500,1834,...,0,0,2,2,2,6,1935-36,2016-17,4,"[1935, 36]"
16,17,Malaga,36,1314,1255,390,330,535,1421,1763,...,0,0,1,0,1,2,1949-50,2008-09,4,"[1949, 50]"
17,18,Oviedo,38,1174,1192,408,292,492,1642,1951,...,0,3,2,2,4,11,1933-34,2000-01,3,"[1933, 34]"
18,19,Mallorca,27,1148,988,333,256,399,1182,1371,...,0,2,0,2,1,5,1960-61,2012-13,3,"[1960, 61]"
19,20,Las Palmas,33,1020,1096,367,242,487,1347,1746,...,1,1,1,1,1,5,1951-52,2015-16,2,"[1951, 52]"
20,21,Villarreal,17,970,646,266,172,208,892,789,...,1,1,2,3,2,9,1998-99,2013-14,2,"[1998, 99]"
21,22,Granada,23,667,742,218,175,349,819,1157,...,0,0,0,0,2,2,1941-42,2016-17,6,"[1941, 42]"
22,23,Rayo Vallecano,17,662,652,189,148,305,760,1088,...,0,0,0,0,0,0,1977-78,2015-16,8,"[1977, 78]"
23,24,Elche,21,606,678,203,180,295,750,1022,...,0,0,0,1,1,2,1959-60,2014-15,5,"[1959, 60]"
24,25,Getafe,12,553,456,147,112,197,520,633,...,0,0,0,0,1,1,2004-05,2015-16,6,"[2004, 05]"
25,26,Hercules,20,538,628,184,149,295,716,1050,...,0,0,0,1,4,5,1935-36,2010-11,5,"[1935, 36]"
26,27,Tenerife,13,510,494,155,128,211,619,744,...,0,0,0,2,0,2,1961-62,2009-10,5,"[1961, 62]"
27,28,Murcia,18,445,586,145,143,298,607,992,...,0,0,0,0,0,0,1940-41,2007-08,11,"[1940, 41]"
28,29,Alaves,12,421,380,125,81,174,458,623,...,0,0,0,0,1,1,1930-31,2016-17,6,"[1930, 31]"
29,30,Levante,11,416,402,113,95,194,430,632,...,0,0,0,0,1,1,1963-64,2015-16,6,"[1963, 64]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31,32,Sabadell,14,353,426,129,95,202,492,720,...,0,0,1,1,0,2,1943-44,1987-88,4,"[1943, 44]"
32,33,Cadiz,12,343,448,104,127,217,393,662,...,0,0,0,0,0,0,1977-78,2005-06,12,"[1977, 78]"
33,34,Logrones,9,293,346,96,92,158,291,489,...,0,0,0,0,0,0,1987-88,1996-97,7,"[1987, 88]"
34,35,Castellon,11,285,334,103,79,152,419,588,...,0,0,1,2,0,3,1941-42,1990-91,4,"[1941, 42]"
35,36,Albacete,7,277,270,76,76,118,320,410,...,0,0,0,0,0,0,1991-92,2004-05,7,"[1991, 92]"
36,37,Almeria,6,242,228,62,56,110,244,366,...,0,0,0,0,0,0,2007-08,2014-15,8,"[2007, 08]"
37,38,Cordoba,9,230,282,82,63,137,285,430,...,0,0,0,1,0,1,1962-63,2014-15,5,"[1962, 63]"
38,39,Compostela,4,190,160,52,45,63,199,241,...,0,0,0,0,0,0,1994-95,1997-98,10,"[1994, 95]"
39,40,Recreativo,5,188,186,50,46,90,202,296,...,0,0,0,0,0,0,1978-79,2008-09,8,"[1978, 79]"
40,41,Burgos CF,6,168,204,59,50,95,216,310,...,0,0,0,0,0,0,1971-72,1979-80,12,"[1971, 72]"
41,42,Pontevedra,6,150,180,53,44,83,165,221,...,0,0,0,0,0,0,1963-64,1969-70,7,"[1963, 64]"
42,43,Numancia,4,148,152,37,37,78,155,253,...,0,0,0,0,0,0,1999-00,2008-09,17,"[1999, 00]"
43,44,Eibar,3,132,114,35,27,52,139,167,...,0,0,0,0,0,0,2014-15,2014-15,10,"[2014, 15]"
44,45,Arenas,7,107,130,43,21,66,227,308,...,0,1,0,3,0,4,1929,1934-35,3,[1929]
45,46,Real Burgos,3,96,114,26,44,44,101,139,...,0,0,0,0,0,0,1990-91,1992-93,9,"[1990, 91]"
46,47,Gimnastic,4,91,116,34,16,66,181,295,...,0,0,0,0,0,0,1947-48,2006-07,7,"[1947, 48]"
47,48,Extremadura,2,83,80,20,23,37,62,117,...,0,0,0,0,0,0,1996-97,1998-99,17,"[1996, 97]"
48,49,Merida,2,81,80,19,24,37,70,115,...,0,0,0,0,0,0,1995-96,1997-98,19,"[1995, 96]"
49,50,Alcoyano,4,76,108,30,16,62,145,252,...,0,0,0,0,0,0,1945-46,1950-51,10,"[1945, 46]"
50,51,Jaen,3,71,90,29,13,48,121,183,...,0,0,0,0,0,0,1953-54,1957-58,14,"[1953, 54]"
51,52,Real Union,4,56,72,21,14,37,153,184,...,0,0,0,0,1,1,1929,1931-32,6,[1929]
52,53,AD Almeria,2,52,68,17,18,33,71,116,...,0,0,0,0,0,0,1979-80,1980-81,10,"[1979, 80]"
53,54,Europa,3,42,54,18,6,30,97,131,...,0,0,0,0,0,0,1929,1930-31,8,[1929]
54,55,Lleida,2,40,68,13,14,41,70,182,...,0,0,0,0,0,0,1950-51,1993-94,16,"[1950, 51]"
55,56,Leganes,1,35,38,8,11,19,36,55,...,0,0,0,0,0,0,2016-17,2016-17,17,"[2016, 17]"
56,57,Xerez,1,34,38,8,10,20,38,66,...,0,0,0,0,0,0,2009-10,2009-10,20,"[2009, 10]"
57,58,Condal,1,22,30,7,8,15,37,57,...,0,0,0,0,0,0,1956-57,1956-57,16,"[1956, 57]"
58,59,Atletico Tetuan,1,19,30,7,5,18,51,85,...,0,0,0,0,0,0,1951-52,1951-52,16,"[1951, 52]"
59,60,Cultural Leonesa,1,14,30,5,4,21,34,65,...,0,0,0,0,0,0,1955-56,1955-56,15,"[1955, 56]"
60,61,Girona,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,2017-18,2017-18,9,"[2017, 18]"

### Splitting the list values (Start and end year) in to 2 columns in a new data frame 'Laliga_debut'

In [6]:
Laliga_debut = pd.DataFrame(Laliga['Debut_Split'].values.tolist(), columns=['Debut_Start','Debut_End'])
Laliga_debut

   Debut_Start Debut_End
0         1929      None
1         1929      None
2         1929      None
3         1931        32
4         1929      None
5         1934        35
6         1929      None
7         1929      None
8         1939        40
9         1932        33
10        1941        42
11        1939        40
12        1948        49
13        1929      None
14        1944        45
15        1935        36
16        1949        50
17        1933        34
18        1960        61
19        1951        52
20        1998        99
21        1941        42
22        1977        78
23        1959        60
24        2004        05
25        1935        36
26        1961        62
27        1940        41
28        1930        31
29        1963        64
..         ...       ...
31        1943        44
32        1977        78
33        1987        88
34        1941        42
35        1991        92
36        2007        08
37        1962        63
38        1994        95
39        1978        79
40        1971        72
41        1963        64
42        1999        00
43        2014        15
44        1929      None
45        1990        91
46        1947        48
47        1996        97
48        1995        96
49        1945        46
50        1953        54
51        1929      None
52        1979        80
53        1929      None
54        1950        51
55        2016        17
56        2009        10
57        1956        57
58        1951        52
59        1955        56
60        2017        18

[61 rows x 2 columns]

### Cleaning the data
#### Replacing the None values with the start year
#### Replacing the end year values in the same format of start year ( prefix of start year is used)

In [7]:
len = Laliga.shape[0]
for i in range(len):
    if (Laliga_debut['Debut_End'][i] != None):
        Laliga_debut['Debut_End'][i] = Laliga_debut['Debut_Start'][i][:2] + Laliga_debut['Debut_End'][i]

In [8]:
Laliga_debut

   Debut_Start Debut_End
0         1929      None
1         1929      None
2         1929      None
3         1931      1932
4         1929      None
5         1934      1935
6         1929      None
7         1929      None
8         1939      1940
9         1932      1933
10        1941      1942
11        1939      1940
12        1948      1949
13        1929      None
14        1944      1945
15        1935      1936
16        1949      1950
17        1933      1934
18        1960      1961
19        1951      1952
20        1998      1999
21        1941      1942
22        1977      1978
23        1959      1960
24        2004      2005
25        1935      1936
26        1961      1962
27        1940      1941
28        1930      1931
29        1963      1964
..         ...       ...
31        1943      1944
32        1977      1978
33        1987      1988
34        1941      1942
35        1991      1992
36        2007      2008
37        1962      1963
38        1994      1995
39        1978      1979
40        1971      1972
41        1963      1964
42        1999      1900
43        2014      2015
44        1929      None
45        1990      1991
46        1947      1948
47        1996      1997
48        1995      1996
49        1945      1946
50        1953      1954
51        1929      None
52        1979      1980
53        1929      None
54        1950      1951
55        2016      2017
56        2009      2010
57        1956      1957
58        1951      1952
59        1955      1956
60        2017      2018

[61 rows x 2 columns]

### Merging the 2 DataFrame 'Laliga' & 'Laliga_debut'

In [9]:
Laliga = Laliga.join(Laliga_debut)

In [10]:
Laliga

,Pos,Team,Seasons,Points,GamesPlayed,GamesWon,GamesDrawn,GamesLost,GoalsFor,GoalsAgainst,...,Fourth,Fifth,Sixth,T,Debut,Since/LastApp,BestPosition,Debut_Split,Debut_Start,Debut_End
0,1,Real Madrid,86,4385,2762,1647,552,563,5947,3140,...,8,3,4,79,1929,1929,1,[1929],1929,None
1,2,Barcelona,86,4262,2762,1581,573,608,5900,3114,...,12,4,6,83,1929,1929,1,[1929],1929,None
2,3,Atletico Madrid,80,3442,2614,1241,598,775,4534,3309,...,9,7,6,56,1929,2002-03,1,[1929],1929,None
3,4,Valencia,82,3386,2664,1187,616,861,4398,3469,...,11,10,7,50,1931-32,1987-88,1,"[1931, 32]",1931,1932
4,5,Athletic Bilbao,86,3368,2762,1209,633,920,4631,3700,...,5,8,10,49,1929,1929,1,[1929],1929,None
5,6,Sevilla,73,2819,2408,990,531,887,3680,3373,...,5,12,6,32,1934-35,2001-02,1,"[1934, 35]",1934,1935
6,7,Espanyol,82,2792,2626,948,608,1070,3609,3889,...,5,2,5,16,1929,1994-95,3,[1929],1929,None
7,8,Real Sociedad,70,2573,2302,864,577,861,3228,3230,...,5,4,3,19,1929,2010-11,1,[1929],1929,None
8,9,Zaragoza,58,2109,1986,698,522,766,2683,2847,...,5,4,4,18,1939-40,2012-13,2,"[1939, 40]",1939,1940
9,10,Real Betis,51,1884,1728,606,440,682,2159,2492,...,3,4,4,14,1932-33,2015-16,1,"[1932, 33]",1932,1933
10,11,Deportivo La Coruna,45,1814,1530,563,392,575,2052,2188,...,1,0,1,12,1941-42,2014-15,1,"[1941, 42]",1941,1942
11,12,Celta Vigo,51,1789,1698,586,389,723,2278,2624,...,2,4,5,11,1939-40,2012-13,4,"[1939, 40]",1939,1940
12,13,Valladolid,42,1471,1466,463,384,619,1767,2180,...,1,1,1,3,1948-49,2013-14,4,"[1948, 49]",1948,1949
13,14,Racing Santander,44,1416,1428,453,336,639,1843,2368,...,2,0,1,5,1929,2011-12,2,[1929],1929,None
14,15,Sporting Gijon,43,1389,1458,471,358,629,1753,2152,...,2,2,1,7,1944-45,2015-16,2,"[1944, 45]",1944,1945
15,16,Osasuna,37,1351,1318,426,327,565,1500,1834,...,2,2,2,6,1935-36,2016-17,4,"[1935, 36]",1935,1936
16,17,Malaga,36,1314,1255,390,330,535,1421,1763,...,1,0,1,2,1949-50,2008-09,4,"[1949, 50]",1949,1950
17,18,Oviedo,38,1174,1192,408,292,492,1642,1951,...,2,2,4,11,1933-34,2000-01,3,"[1933, 34]",1933,1934
18,19,Mallorca,27,1148,988,333,256,399,1182,1371,...,0,2,1,5,1960-61,2012-13,3,"[1960, 61]",1960,1961
19,20,Las Palmas,33,1020,1096,367,242,487,1347,1746,...,1,1,1,5,1951-52,2015-16,2,"[1951, 52]",1951,1952
20,21,Villarreal,17,970,646,266,172,208,892,789,...,2,3,2,9,1998-99,2013-14,2,"[1998, 99]",1998,1999
21,22,Granada,23,667,742,218,175,349,819,1157,...,0,0,2,2,1941-42,2016-17,6,"[1941, 42]",1941,1942
22,23,Rayo Vallecano,17,662,652,189,148,305,760,1088,...,0,0,0,0,1977-78,2015-16,8,"[1977, 78]",1977,1978
23,24,Elche,21,606,678,203,180,295,750,1022,...,0,1,1,2,1959-60,2014-15,5,"[1959, 60]",1959,1960
24,25,Getafe,12,553,456,147,112,197,520,633,...,0,0,1,1,2004-05,2015-16,6,"[2004, 05]",2004,2005
25,26,Hercules,20,538,628,184,149,295,716,1050,...,0,1,4,5,1935-36,2010-11,5,"[1935, 36]",1935,1936
26,27,Tenerife,13,510,494,155,128,211,619,744,...,0,2,0,2,1961-62,2009-10,5,"[1961, 62]",1961,1962
27,28,Murcia,18,445,586,145,143,298,607,992,...,0,0,0,0,1940-41,2007-08,11,"[1940, 41]",1940,1941
28,29,Alaves,12,421,380,125,81,174,458,623,...,0,0,1,1,1930-31,2016-17,6,"[1930, 31]",1930,1931
29,30,Levante,11,416,402,113,95,194,430,632,...,0,0,1,1,1963-64,2015-16,6,"[1963, 64]",1963,1964
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31,32,Sabadell,14,353,426,129,95,202,492,720,...,1,1,0,2,1943-44,1987-88,4,"[1943, 44]",1943,1944
32,33,Cadiz,12,343,448,104,127,217,393,662,...,0,0,0,0,1977-78,2005-06,12,"[1977, 78]",1977,1978
33,34,Logrones,9,293,346,96,92,158,291,489,...,0,0,0,0,1987-88,1996-97,7,"[1987, 88]",1987,1988
34,35,Castellon,11,285,334,103,79,152,419,588,...,1,2,0,3,1941-42,1990-91,4,"[1941, 42]",1941,1942
35,36,Albacete,7,277,270,76,76,118,320,410,...,0,0,0,0,1991-92,2004-05,7,"[1991, 92]",1991,1992
36,37,Almeria,6,242,228,62,56,110,244,366,...,0,0,0,0,2007-08,2014-15,8,"[2007, 08]",2007,2008
37,38,Cordoba,9,230,282,82,63,137,285,430,...,0,1,0,1,1962-63,2014-15,5,"[1962, 63]",1962,1963
38,39,Compostela,4,190,160,52,45,63,199,241,...,0,0,0,0,1994-95,1997-98,10,"[1994, 95]",1994,1995
39,40,Recreativo,5,188,186,50,46,90,202,296,...,0,0,0,0,1978-79,2008-09,8,"[1978, 79]",1978,1979
40,41,Burgos CF,6,168,204,59,50,95,216,310,...,0,0,0,0,1971-72,1979-80,12,"[1971, 72]",1971,1972
41,42,Pontevedra,6,150,180,53,44,83,165,221,...,0,0,0,0,1963-64,1969-70,7,"[1963, 64]",1963,1964
42,43,Numancia,4,148,152,37,37,78,155,253,...,0,0,0,0,1999-00,2008-09,17,"[1999, 00]",1999,1900
43,44,Eibar,3,132,114,35,27,52,139,167,...,0,0,0,0,2014-15,2014-15,10,"[2014, 15]",2014,2015
44,45,Arenas,7,107,130,43,21,66,227,308,...,0,3,0,4,1929,1934-35,3,[1929],1929,None
45,46,Real Burgos,3,96,114,26,44,44,101,139,...,0,0,0,0,1990-91,1992-93,9,"[1990, 91]",1990,1991
46,47,Gimnastic,4,91,116,34,16,66,181,295,...,0,0,0,0,1947-48,2006-07,7,"[1947, 48]",1947,1948
47,48,Extremadura,2,83,80,20,23,37,62,117,...,0,0,0,0,1996-97,1998-99,17,"[1996, 97]",1996,1997
48,49,Merida,2,81,80,19,24,37,70,115,...,0,0,0,0,1995-96,1997-98,19,"[1995, 96]",1995,1996
49,50,Alcoyano,4,76,108,30,16,62,145,252,...,0,0,0,0,1945-46,1950-51,10,"[1945, 46]",1945,1946
50,51,Jaen,3,71,90,29,13,48,121,183,...,0,0,0,0,1953-54,1957-58,14,"[1953, 54]",1953,1954
51,52,Real Union,4,56,72,21,14,37,153,184,...,0,0,1,1,1929,1931-32,6,[1929],1929,None
52,53,AD Almeria,2,52,68,17,18,33,71,116,...,0,0,0,0,1979-80,1980-81,10,"[1979, 80]",1979,1980
53,54,Europa,3,42,54,18,6,30,97,131,...,0,0,0,0,1929,1930-31,8,[1929],1929,None
54,55,Lleida,2,40,68,13,14,41,70,182,...,0,0,0,0,1950-51,1993-94,16,"[1950, 51]",1950,1951
55,56,Leganes,1,35,38,8,11,19,36,55,...,0,0,0,0,2016-17,2016-17,17,"[2016, 17]",2016,2017
56,57,Xerez,1,34,38,8,10,20,38,66,...,0,0,0,0,2009-10,2009-10,20,"[2009, 10]",2009,2010
57,58,Condal,1,22,30,7,8,15,37,57,...,0,0,0,0,1956-57,1956-57,16,"[1956, 57]",1956,1957
58,59,Atletico Tetuan,1,19,30,7,5,18,51,85,...,0,0,0,0,1951-52,1951-52,16,"[1951, 52]",1951,1952
59,60,Cultural Leonesa,1,14,30,5,4,21,34,65,...,0,0,0,0,1955-56,1955-56,15,"[1955, 56]",1955,1956
60,61,Girona,1,0,0,0,0,0,0,0,...,0,0,0,0,2017-18,2017-18,9,"[2017, 18]",2017,2018

### Drop the column 'Debut_Split'

In [11]:
Laliga.drop(['Debut_Split'],axis=1,inplace=True)

In [12]:
Laliga.dtypes

Pos               int64
Team             object
Seasons           int64
Points           object
GamesPlayed      object
GamesWon         object
GamesDrawn       object
GamesLost        object
GoalsFor         object
GoalsAgainst     object
Champion         object
Runner-up        object
Third            object
Fourth           object
Fifth            object
Sixth            object
T                object
Debut            object
Since/LastApp    object
BestPosition      int64
Debut_Start      object
Debut_End        object
dtype: object

In [13]:
Laliga['Debut_Start'] = Laliga.Debut_Start.astype(int)

In [14]:
Laliga.dtypes

Pos               int64
Team             object
Seasons           int64
Points           object
GamesPlayed      object
GamesWon         object
GamesDrawn       object
GamesLost        object
GoalsFor         object
GoalsAgainst     object
Champion         object
Runner-up        object
Third            object
Fourth           object
Fifth            object
Sixth            object
T                object
Debut            object
Since/LastApp    object
BestPosition      int64
Debut_Start       int64
Debut_End        object
dtype: object

In [15]:
Laliga[(Laliga['Debut_Start'] > 1930) & (Laliga['Debut_Start'] <1980)]

,Pos,Team,Seasons,Points,GamesPlayed,GamesWon,GamesDrawn,GamesLost,GoalsFor,GoalsAgainst,...,Third,Fourth,Fifth,Sixth,T,Debut,Since/LastApp,BestPosition,Debut_Start,Debut_End
3,4,Valencia,82,3386,2664,1187,616,861,4398,3469,...,10,11,10,7,50,1931-32,1987-88,1,1931,1932
5,6,Sevilla,73,2819,2408,990,531,887,3680,3373,...,4,5,12,6,32,1934-35,2001-02,1,1934,1935
8,9,Zaragoza,58,2109,1986,698,522,766,2683,2847,...,4,5,4,4,18,1939-40,2012-13,2,1939,1940
9,10,Real Betis,51,1884,1728,606,440,682,2159,2492,...,2,3,4,4,14,1932-33,2015-16,1,1932,1933
10,11,Deportivo La Coruna,45,1814,1530,563,392,575,2052,2188,...,4,1,0,1,12,1941-42,2014-15,1,1941,1942
11,12,Celta Vigo,51,1789,1698,586,389,723,2278,2624,...,0,2,4,5,11,1939-40,2012-13,4,1939,1940
12,13,Valladolid,42,1471,1466,463,384,619,1767,2180,...,0,1,1,1,3,1948-49,2013-14,4,1948,1949
14,15,Sporting Gijon,43,1389,1458,471,358,629,1753,2152,...,1,2,2,1,7,1944-45,2015-16,2,1944,1945
15,16,Osasuna,37,1351,1318,426,327,565,1500,1834,...,0,2,2,2,6,1935-36,2016-17,4,1935,1936
16,17,Malaga,36,1314,1255,390,330,535,1421,1763,...,0,1,0,1,2,1949-50,2008-09,4,1949,1950
17,18,Oviedo,38,1174,1192,408,292,492,1642,1951,...,3,2,2,4,11,1933-34,2000-01,3,1933,1934
18,19,Mallorca,27,1148,988,333,256,399,1182,1371,...,2,0,2,1,5,1960-61,2012-13,3,1960,1961
19,20,Las Palmas,33,1020,1096,367,242,487,1347,1746,...,1,1,1,1,5,1951-52,2015-16,2,1951,1952
21,22,Granada,23,667,742,218,175,349,819,1157,...,0,0,0,2,2,1941-42,2016-17,6,1941,1942
22,23,Rayo Vallecano,17,662,652,189,148,305,760,1088,...,0,0,0,0,0,1977-78,2015-16,8,1977,1978
23,24,Elche,21,606,678,203,180,295,750,1022,...,0,0,1,1,2,1959-60,2014-15,5,1959,1960
25,26,Hercules,20,538,628,184,149,295,716,1050,...,0,0,1,4,5,1935-36,2010-11,5,1935,1936
26,27,Tenerife,13,510,494,155,128,211,619,744,...,0,0,2,0,2,1961-62,2009-10,5,1961,1962
27,28,Murcia,18,445,586,145,143,298,607,992,...,0,0,0,0,0,1940-41,2007-08,11,1940,1941
29,30,Levante,11,416,402,113,95,194,430,632,...,0,0,0,1,1,1963-64,2015-16,6,1963,1964
30,31,Salamanca,12,375,423,123,102,198,422,581,...,0,0,0,0,0,1974-75,1998-99,7,1974,1975
31,32,Sabadell,14,353,426,129,95,202,492,720,...,0,1,1,0,2,1943-44,1987-88,4,1943,1944
32,33,Cadiz,12,343,448,104,127,217,393,662,...,0,0,0,0,0,1977-78,2005-06,12,1977,1978
34,35,Castellon,11,285,334,103,79,152,419,588,...,0,1,2,0,3,1941-42,1990-91,4,1941,1942
37,38,Cordoba,9,230,282,82,63,137,285,430,...,0,0,1,0,1,1962-63,2014-15,5,1962,1963
39,40,Recreativo,5,188,186,50,46,90,202,296,...,0,0,0,0,0,1978-79,2008-09,8,1978,1979
40,41,Burgos CF,6,168,204,59,50,95,216,310,...,0,0,0,0,0,1971-72,1979-80,12,1971,1972
41,42,Pontevedra,6,150,180,53,44,83,165,221,...,0,0,0,0,0,1963-64,1969-70,7,1963,1964
46,47,Gimnastic,4,91,116,34,16,66,181,295,...,0,0,0,0,0,1947-48,2006-07,7,1947,1948
49,50,Alcoyano,4,76,108,30,16,62,145,252,...,0,0,0,0,0,1945-46,1950-51,10,1945,1946
50,51,Jaen,3,71,90,29,13,48,121,183,...,0,0,0,0,0,1953-54,1957-58,14,1953,1954
52,53,AD Almeria,2,52,68,17,18,33,71,116,...,0,0,0,0,0,1979-80,1980-81,10,1979,1980
54,55,Lleida,2,40,68,13,14,41,70,182,...,0,0,0,0,0,1950-51,1993-94,16,1950,1951
57,58,Condal,1,22,30,7,8,15,37,57,...,0,0,0,0,0,1956-57,1956-57,16,1956,1957
58,59,Atletico Tetuan,1,19,30,7,5,18,51,85,...,0,0,0,0,0,1951-52,1951-52,16,1951,1952
59,60,Cultural Leonesa,1,14,30,5,4,21,34,65,...,0,0,0,0,0,1955-56,1955-56,15,1955,1956

### Drop the columns 'Debut_Start' and 'Debut_End'

In [16]:
Laliga.drop(['Debut_Start','Debut_End'],axis=1,inplace=True)

In [17]:
Laliga

,Pos,Team,Seasons,Points,GamesPlayed,GamesWon,GamesDrawn,GamesLost,GoalsFor,GoalsAgainst,Champion,Runner-up,Third,Fourth,Fifth,Sixth,T,Debut,Since/LastApp,BestPosition
0,1,Real Madrid,86,4385,2762,1647,552,563,5947,3140,33,23,8,8,3,4,79,1929,1929,1
1,2,Barcelona,86,4262,2762,1581,573,608,5900,3114,25,25,12,12,4,6,83,1929,1929,1
2,3,Atletico Madrid,80,3442,2614,1241,598,775,4534,3309,10,8,16,9,7,6,56,1929,2002-03,1
3,4,Valencia,82,3386,2664,1187,616,861,4398,3469,6,6,10,11,10,7,50,1931-32,1987-88,1
4,5,Athletic Bilbao,86,3368,2762,1209,633,920,4631,3700,8,7,10,5,8,10,49,1929,1929,1
5,6,Sevilla,73,2819,2408,990,531,887,3680,3373,1,4,4,5,12,6,32,1934-35,2001-02,1
6,7,Espanyol,82,2792,2626,948,608,1070,3609,3889,0,0,4,5,2,5,16,1929,1994-95,3
7,8,Real Sociedad,70,2573,2302,864,577,861,3228,3230,2,3,2,5,4,3,19,1929,2010-11,1
8,9,Zaragoza,58,2109,1986,698,522,766,2683,2847,0,1,4,5,4,4,18,1939-40,2012-13,2
9,10,Real Betis,51,1884,1728,606,440,682,2159,2492,1,0,2,3,4,4,14,1932-33,2015-16,1
10,11,Deportivo La Coruna,45,1814,1530,563,392,575,2052,2188,1,5,4,1,0,1,12,1941-42,2014-15,1
11,12,Celta Vigo,51,1789,1698,586,389,723,2278,2624,0,0,0,2,4,5,11,1939-40,2012-13,4
12,13,Valladolid,42,1471,1466,463,384,619,1767,2180,0,0,0,1,1,1,3,1948-49,2013-14,4
13,14,Racing Santander,44,1416,1428,453,336,639,1843,2368,0,1,1,2,0,1,5,1929,2011-12,2
14,15,Sporting Gijon,43,1389,1458,471,358,629,1753,2152,0,1,1,2,2,1,7,1944-45,2015-16,2
15,16,Osasuna,37,1351,1318,426,327,565,1500,1834,0,0,0,2,2,2,6,1935-36,2016-17,4
16,17,Malaga,36,1314,1255,390,330,535,1421,1763,0,0,0,1,0,1,2,1949-50,2008-09,4
17,18,Oviedo,38,1174,1192,408,292,492,1642,1951,0,0,3,2,2,4,11,1933-34,2000-01,3
18,19,Mallorca,27,1148,988,333,256,399,1182,1371,0,0,2,0,2,1,5,1960-61,2012-13,3
19,20,Las Palmas,33,1020,1096,367,242,487,1347,1746,0,1,1,1,1,1,5,1951-52,2015-16,2
20,21,Villarreal,17,970,646,266,172,208,892,789,0,1,1,2,3,2,9,1998-99,2013-14,2
21,22,Granada,23,667,742,218,175,349,819,1157,0,0,0,0,0,2,2,1941-42,2016-17,6
22,23,Rayo Vallecano,17,662,652,189,148,305,760,1088,0,0,0,0,0,0,0,1977-78,2015-16,8
23,24,Elche,21,606,678,203,180,295,750,1022,0,0,0,0,1,1,2,1959-60,2014-15,5
24,25,Getafe,12,553,456,147,112,197,520,633,0,0,0,0,0,1,1,2004-05,2015-16,6
25,26,Hercules,20,538,628,184,149,295,716,1050,0,0,0,0,1,4,5,1935-36,2010-11,5
26,27,Tenerife,13,510,494,155,128,211,619,744,0,0,0,0,2,0,2,1961-62,2009-10,5
27,28,Murcia,18,445,586,145,143,298,607,992,0,0,0,0,0,0,0,1940-41,2007-08,11
28,29,Alaves,12,421,380,125,81,174,458,623,0,0,0,0,0,1,1,1930-31,2016-17,6
29,30,Levante,11,416,402,113,95,194,430,632,0,0,0,0,0,1,1,1963-64,2015-16,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31,32,Sabadell,14,353,426,129,95,202,492,720,0,0,0,1,1,0,2,1943-44,1987-88,4
32,33,Cadiz,12,343,448,104,127,217,393,662,0,0,0,0,0,0,0,1977-78,2005-06,12
33,34,Logrones,9,293,346,96,92,158,291,489,0,0,0,0,0,0,0,1987-88,1996-97,7
34,35,Castellon,11,285,334,103,79,152,419,588,0,0,0,1,2,0,3,1941-42,1990-91,4
35,36,Albacete,7,277,270,76,76,118,320,410,0,0,0,0,0,0,0,1991-92,2004-05,7
36,37,Almeria,6,242,228,62,56,110,244,366,0,0,0,0,0,0,0,2007-08,2014-15,8
37,38,Cordoba,9,230,282,82,63,137,285,430,0,0,0,0,1,0,1,1962-63,2014-15,5
38,39,Compostela,4,190,160,52,45,63,199,241,0,0,0,0,0,0,0,1994-95,1997-98,10
39,40,Recreativo,5,188,186,50,46,90,202,296,0,0,0,0,0,0,0,1978-79,2008-09,8
40,41,Burgos CF,6,168,204,59,50,95,216,310,0,0,0,0,0,0,0,1971-72,1979-80,12
41,42,Pontevedra,6,150,180,53,44,83,165,221,0,0,0,0,0,0,0,1963-64,1969-70,7
42,43,Numancia,4,148,152,37,37,78,155,253,0,0,0,0,0,0,0,1999-00,2008-09,17
43,44,Eibar,3,132,114,35,27,52,139,167,0,0,0,0,0,0,0,2014-15,2014-15,10
44,45,Arenas,7,107,130,43,21,66,227,308,0,0,1,0,3,0,4,1929,1934-35,3
45,46,Real Burgos,3,96,114,26,44,44,101,139,0,0,0,0,0,0,0,1990-91,1992-93,9
46,47,Gimnastic,4,91,116,34,16,66,181,295,0,0,0,0,0,0,0,1947-48,2006-07,7
47,48,Extremadura,2,83,80,20,23,37,62,117,0,0,0,0,0,0,0,1996-97,1998-99,17
48,49,Merida,2,81,80,19,24,37,70,115,0,0,0,0,0,0,0,1995-96,1997-98,19
49,50,Alcoyano,4,76,108,30,16,62,145,252,0,0,0,0,0,0,0,1945-46,1950-51,10
50,51,Jaen,3,71,90,29,13,48,121,183,0,0,0,0,0,0,0,1953-54,1957-58,14
51,52,Real Union,4,56,72,21,14,37,153,184,0,0,0,0,0,1,1,1929,1931-32,6
52,53,AD Almeria,2,52,68,17,18,33,71,116,0,0,0,0,0,0,0,1979-80,1980-81,10
53,54,Europa,3,42,54,18,6,30,97,131,0,0,0,0,0,0,0,1929,1930-31,8
54,55,Lleida,2,40,68,13,14,41,70,182,0,0,0,0,0,0,0,1950-51,1993-94,16
55,56,Leganes,1,35,38,8,11,19,36,55,0,0,0,0,0,0,0,2016-17,2016-17,17
56,57,Xerez,1,34,38,8,10,20,38,66,0,0,0,0,0,0,0,2009-10,2009-10,20
57,58,Condal,1,22,30,7,8,15,37,57,0,0,0,0,0,0,0,1956-57,1956-57,16
58,59,Atletico Tetuan,1,19,30,7,5,18,51,85,0,0,0,0,0,0,0,1951-52,1951-52,16
59,60,Cultural Leonesa,1,14,30,5,4,21,34,65,0,0,0,0,0,0,0,1955-56,1955-56,15
60,61,Girona,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,2017-18,2017-18,9

## Print the list of teams which came Top 5 in terms of points

In [18]:
Laliga['Points'] = Laliga.Points.astype(int)

In [19]:
Laliga.sort_values(by=['Points'],ascending=False)

,Pos,Team,Seasons,Points,GamesPlayed,GamesWon,GamesDrawn,GamesLost,GoalsFor,GoalsAgainst,Champion,Runner-up,Third,Fourth,Fifth,Sixth,T,Debut,Since/LastApp,BestPosition
0,1,Real Madrid,86,4385,2762,1647,552,563,5947,3140,33,23,8,8,3,4,79,1929,1929,1
1,2,Barcelona,86,4262,2762,1581,573,608,5900,3114,25,25,12,12,4,6,83,1929,1929,1
2,3,Atletico Madrid,80,3442,2614,1241,598,775,4534,3309,10,8,16,9,7,6,56,1929,2002-03,1
3,4,Valencia,82,3386,2664,1187,616,861,4398,3469,6,6,10,11,10,7,50,1931-32,1987-88,1
4,5,Athletic Bilbao,86,3368,2762,1209,633,920,4631,3700,8,7,10,5,8,10,49,1929,1929,1
5,6,Sevilla,73,2819,2408,990,531,887,3680,3373,1,4,4,5,12,6,32,1934-35,2001-02,1
6,7,Espanyol,82,2792,2626,948,608,1070,3609,3889,0,0,4,5,2,5,16,1929,1994-95,3
7,8,Real Sociedad,70,2573,2302,864,577,861,3228,3230,2,3,2,5,4,3,19,1929,2010-11,1
8,9,Zaragoza,58,2109,1986,698,522,766,2683,2847,0,1,4,5,4,4,18,1939-40,2012-13,2
9,10,Real Betis,51,1884,1728,606,440,682,2159,2492,1,0,2,3,4,4,14,1932-33,2015-16,1
10,11,Deportivo La Coruna,45,1814,1530,563,392,575,2052,2188,1,5,4,1,0,1,12,1941-42,2014-15,1
11,12,Celta Vigo,51,1789,1698,586,389,723,2278,2624,0,0,0,2,4,5,11,1939-40,2012-13,4
12,13,Valladolid,42,1471,1466,463,384,619,1767,2180,0,0,0,1,1,1,3,1948-49,2013-14,4
13,14,Racing Santander,44,1416,1428,453,336,639,1843,2368,0,1,1,2,0,1,5,1929,2011-12,2
14,15,Sporting Gijon,43,1389,1458,471,358,629,1753,2152,0,1,1,2,2,1,7,1944-45,2015-16,2
15,16,Osasuna,37,1351,1318,426,327,565,1500,1834,0,0,0,2,2,2,6,1935-36,2016-17,4
16,17,Malaga,36,1314,1255,390,330,535,1421,1763,0,0,0,1,0,1,2,1949-50,2008-09,4
17,18,Oviedo,38,1174,1192,408,292,492,1642,1951,0,0,3,2,2,4,11,1933-34,2000-01,3
18,19,Mallorca,27,1148,988,333,256,399,1182,1371,0,0,2,0,2,1,5,1960-61,2012-13,3
19,20,Las Palmas,33,1020,1096,367,242,487,1347,1746,0,1,1,1,1,1,5,1951-52,2015-16,2
20,21,Villarreal,17,970,646,266,172,208,892,789,0,1,1,2,3,2,9,1998-99,2013-14,2
21,22,Granada,23,667,742,218,175,349,819,1157,0,0,0,0,0,2,2,1941-42,2016-17,6
22,23,Rayo Vallecano,17,662,652,189,148,305,760,1088,0,0,0,0,0,0,0,1977-78,2015-16,8
23,24,Elche,21,606,678,203,180,295,750,1022,0,0,0,0,1,1,2,1959-60,2014-15,5
24,25,Getafe,12,553,456,147,112,197,520,633,0,0,0,0,0,1,1,2004-05,2015-16,6
25,26,Hercules,20,538,628,184,149,295,716,1050,0,0,0,0,1,4,5,1935-36,2010-11,5
26,27,Tenerife,13,510,494,155,128,211,619,744,0,0,0,0,2,0,2,1961-62,2009-10,5
27,28,Murcia,18,445,586,145,143,298,607,992,0,0,0,0,0,0,0,1940-41,2007-08,11
28,29,Alaves,12,421,380,125,81,174,458,623,0,0,0,0,0,1,1,1930-31,2016-17,6
29,30,Levante,11,416,402,113,95,194,430,632,0,0,0,0,0,1,1,1963-64,2015-16,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31,32,Sabadell,14,353,426,129,95,202,492,720,0,0,0,1,1,0,2,1943-44,1987-88,4
32,33,Cadiz,12,343,448,104,127,217,393,662,0,0,0,0,0,0,0,1977-78,2005-06,12
33,34,Logrones,9,293,346,96,92,158,291,489,0,0,0,0,0,0,0,1987-88,1996-97,7
34,35,Castellon,11,285,334,103,79,152,419,588,0,0,0,1,2,0,3,1941-42,1990-91,4
35,36,Albacete,7,277,270,76,76,118,320,410,0,0,0,0,0,0,0,1991-92,2004-05,7
36,37,Almeria,6,242,228,62,56,110,244,366,0,0,0,0,0,0,0,2007-08,2014-15,8
37,38,Cordoba,9,230,282,82,63,137,285,430,0,0,0,0,1,0,1,1962-63,2014-15,5
38,39,Compostela,4,190,160,52,45,63,199,241,0,0,0,0,0,0,0,1994-95,1997-98,10
39,40,Recreativo,5,188,186,50,46,90,202,296,0,0,0,0,0,0,0,1978-79,2008-09,8
40,41,Burgos CF,6,168,204,59,50,95,216,310,0,0,0,0,0,0,0,1971-72,1979-80,12
41,42,Pontevedra,6,150,180,53,44,83,165,221,0,0,0,0,0,0,0,1963-64,1969-70,7
42,43,Numancia,4,148,152,37,37,78,155,253,0,0,0,0,0,0,0,1999-00,2008-09,17
43,44,Eibar,3,132,114,35,27,52,139,167,0,0,0,0,0,0,0,2014-15,2014-15,10
44,45,Arenas,7,107,130,43,21,66,227,308,0,0,1,0,3,0,4,1929,1934-35,3
45,46,Real Burgos,3,96,114,26,44,44,101,139,0,0,0,0,0,0,0,1990-91,1992-93,9
46,47,Gimnastic,4,91,116,34,16,66,181,295,0,0,0,0,0,0,0,1947-48,2006-07,7
47,48,Extremadura,2,83,80,20,23,37,62,117,0,0,0,0,0,0,0,1996-97,1998-99,17
48,49,Merida,2,81,80,19,24,37,70,115,0,0,0,0,0,0,0,1995-96,1997-98,19
49,50,Alcoyano,4,76,108,30,16,62,145,252,0,0,0,0,0,0,0,1945-46,1950-51,10
50,51,Jaen,3,71,90,29,13,48,121,183,0,0,0,0,0,0,0,1953-54,1957-58,14
51,52,Real Union,4,56,72,21,14,37,153,184,0,0,0,0,0,1,1,1929,1931-32,6
52,53,AD Almeria,2,52,68,17,18,33,71,116,0,0,0,0,0,0,0,1979-80,1980-81,10
53,54,Europa,3,42,54,18,6,30,97,131,0,0,0,0,0,0,0,1929,1930-31,8
54,55,Lleida,2,40,68,13,14,41,70,182,0,0,0,0,0,0,0,1950-51,1993-94,16
55,56,Leganes,1,35,38,8,11,19,36,55,0,0,0,0,0,0,0,2016-17,2016-17,17
56,57,Xerez,1,34,38,8,10,20,38,66,0,0,0,0,0,0,0,2009-10,2009-10,20
57,58,Condal,1,22,30,7,8,15,37,57,0,0,0,0,0,0,0,1956-57,1956-57,16
58,59,Atletico Tetuan,1,19,30,7,5,18,51,85,0,0,0,0,0,0,0,1951-52,1951-52,16
59,60,Cultural Leonesa,1,14,30,5,4,21,34,65,0,0,0,0,0,0,0,1955-56,1955-56,15
60,61,Girona,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,2017-18,2017-18,9

In [20]:
Laliga['Team'].head()

0        Real Madrid
1          Barcelona
2    Atletico Madrid
3           Valencia
4    Athletic Bilbao
Name: Team, dtype: object

## Write a function with name â€œGoal_diff_countâ€ which should return all the teams with their Goal Differences. Using the same function, find the team which has maximum and minimum goal difference

#### Converting the datatype of 'GoalsFor' and 'GoalsAgainst' column to int

In [21]:
Laliga['GoalsFor'] = Laliga.GoalsFor.astype(int)
Laliga['GoalsAgainst'] = Laliga.GoalsAgainst.astype(int)

In [22]:
def Goal_diff_count():
    Laliga['Goal_diff_count'] = Laliga.loc[:,'GoalsFor'] - Laliga.loc[:,'GoalsAgainst']
    print('Maximun goal difference :', Laliga['Goal_diff_count'].max())
    print('Minimun goal difference :', Laliga['Goal_diff_count'].min())
Goal_diff_count()

Maximun goal difference : 2807
Minimun goal difference : -525

In [23]:
Laliga.head()

,Pos,Team,Seasons,Points,GamesPlayed,GamesWon,GamesDrawn,GamesLost,GoalsFor,GoalsAgainst,...,Runner-up,Third,Fourth,Fifth,Sixth,T,Debut,Since/LastApp,BestPosition,Goal_diff_count
0,1,Real Madrid,86,4385,2762,1647,552,563,5947,3140,...,23,8,8,3,4,79,1929,1929,1,2807
1,2,Barcelona,86,4262,2762,1581,573,608,5900,3114,...,25,12,12,4,6,83,1929,1929,1,2786
2,3,Atletico Madrid,80,3442,2614,1241,598,775,4534,3309,...,8,16,9,7,6,56,1929,2002-03,1,1225
3,4,Valencia,82,3386,2664,1187,616,861,4398,3469,...,6,10,11,10,7,50,1931-32,1987-88,1,929
4,5,Athletic Bilbao,86,3368,2762,1209,633,920,4631,3700,...,7,10,5,8,10,49,1929,1929,1,931

### Drop the column 'Goal_diff_count'

In [24]:
Laliga.drop(['Goal_diff_count'],axis=1,inplace=True)

In [25]:
Laliga

,Pos,Team,Seasons,Points,GamesPlayed,GamesWon,GamesDrawn,GamesLost,GoalsFor,GoalsAgainst,Champion,Runner-up,Third,Fourth,Fifth,Sixth,T,Debut,Since/LastApp,BestPosition
0,1,Real Madrid,86,4385,2762,1647,552,563,5947,3140,33,23,8,8,3,4,79,1929,1929,1
1,2,Barcelona,86,4262,2762,1581,573,608,5900,3114,25,25,12,12,4,6,83,1929,1929,1
2,3,Atletico Madrid,80,3442,2614,1241,598,775,4534,3309,10,8,16,9,7,6,56,1929,2002-03,1
3,4,Valencia,82,3386,2664,1187,616,861,4398,3469,6,6,10,11,10,7,50,1931-32,1987-88,1
4,5,Athletic Bilbao,86,3368,2762,1209,633,920,4631,3700,8,7,10,5,8,10,49,1929,1929,1
5,6,Sevilla,73,2819,2408,990,531,887,3680,3373,1,4,4,5,12,6,32,1934-35,2001-02,1
6,7,Espanyol,82,2792,2626,948,608,1070,3609,3889,0,0,4,5,2,5,16,1929,1994-95,3
7,8,Real Sociedad,70,2573,2302,864,577,861,3228,3230,2,3,2,5,4,3,19,1929,2010-11,1
8,9,Zaragoza,58,2109,1986,698,522,766,2683,2847,0,1,4,5,4,4,18,1939-40,2012-13,2
9,10,Real Betis,51,1884,1728,606,440,682,2159,2492,1,0,2,3,4,4,14,1932-33,2015-16,1
10,11,Deportivo La Coruna,45,1814,1530,563,392,575,2052,2188,1,5,4,1,0,1,12,1941-42,2014-15,1
11,12,Celta Vigo,51,1789,1698,586,389,723,2278,2624,0,0,0,2,4,5,11,1939-40,2012-13,4
12,13,Valladolid,42,1471,1466,463,384,619,1767,2180,0,0,0,1,1,1,3,1948-49,2013-14,4
13,14,Racing Santander,44,1416,1428,453,336,639,1843,2368,0,1,1,2,0,1,5,1929,2011-12,2
14,15,Sporting Gijon,43,1389,1458,471,358,629,1753,2152,0,1,1,2,2,1,7,1944-45,2015-16,2
15,16,Osasuna,37,1351,1318,426,327,565,1500,1834,0,0,0,2,2,2,6,1935-36,2016-17,4
16,17,Malaga,36,1314,1255,390,330,535,1421,1763,0,0,0,1,0,1,2,1949-50,2008-09,4
17,18,Oviedo,38,1174,1192,408,292,492,1642,1951,0,0,3,2,2,4,11,1933-34,2000-01,3
18,19,Mallorca,27,1148,988,333,256,399,1182,1371,0,0,2,0,2,1,5,1960-61,2012-13,3
19,20,Las Palmas,33,1020,1096,367,242,487,1347,1746,0,1,1,1,1,1,5,1951-52,2015-16,2
20,21,Villarreal,17,970,646,266,172,208,892,789,0,1,1,2,3,2,9,1998-99,2013-14,2
21,22,Granada,23,667,742,218,175,349,819,1157,0,0,0,0,0,2,2,1941-42,2016-17,6
22,23,Rayo Vallecano,17,662,652,189,148,305,760,1088,0,0,0,0,0,0,0,1977-78,2015-16,8
23,24,Elche,21,606,678,203,180,295,750,1022,0,0,0,0,1,1,2,1959-60,2014-15,5
24,25,Getafe,12,553,456,147,112,197,520,633,0,0,0,0,0,1,1,2004-05,2015-16,6
25,26,Hercules,20,538,628,184,149,295,716,1050,0,0,0,0,1,4,5,1935-36,2010-11,5
26,27,Tenerife,13,510,494,155,128,211,619,744,0,0,0,0,2,0,2,1961-62,2009-10,5
27,28,Murcia,18,445,586,145,143,298,607,992,0,0,0,0,0,0,0,1940-41,2007-08,11
28,29,Alaves,12,421,380,125,81,174,458,623,0,0,0,0,0,1,1,1930-31,2016-17,6
29,30,Levante,11,416,402,113,95,194,430,632,0,0,0,0,0,1,1,1963-64,2015-16,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31,32,Sabadell,14,353,426,129,95,202,492,720,0,0,0,1,1,0,2,1943-44,1987-88,4
32,33,Cadiz,12,343,448,104,127,217,393,662,0,0,0,0,0,0,0,1977-78,2005-06,12
33,34,Logrones,9,293,346,96,92,158,291,489,0,0,0,0,0,0,0,1987-88,1996-97,7
34,35,Castellon,11,285,334,103,79,152,419,588,0,0,0,1,2,0,3,1941-42,1990-91,4
35,36,Albacete,7,277,270,76,76,118,320,410,0,0,0,0,0,0,0,1991-92,2004-05,7
36,37,Almeria,6,242,228,62,56,110,244,366,0,0,0,0,0,0,0,2007-08,2014-15,8
37,38,Cordoba,9,230,282,82,63,137,285,430,0,0,0,0,1,0,1,1962-63,2014-15,5
38,39,Compostela,4,190,160,52,45,63,199,241,0,0,0,0,0,0,0,1994-95,1997-98,10
39,40,Recreativo,5,188,186,50,46,90,202,296,0,0,0,0,0,0,0,1978-79,2008-09,8
40,41,Burgos CF,6,168,204,59,50,95,216,310,0,0,0,0,0,0,0,1971-72,1979-80,12
41,42,Pontevedra,6,150,180,53,44,83,165,221,0,0,0,0,0,0,0,1963-64,1969-70,7
42,43,Numancia,4,148,152,37,37,78,155,253,0,0,0,0,0,0,0,1999-00,2008-09,17
43,44,Eibar,3,132,114,35,27,52,139,167,0,0,0,0,0,0,0,2014-15,2014-15,10
44,45,Arenas,7,107,130,43,21,66,227,308,0,0,1,0,3,0,4,1929,1934-35,3
45,46,Real Burgos,3,96,114,26,44,44,101,139,0,0,0,0,0,0,0,1990-91,1992-93,9
46,47,Gimnastic,4,91,116,34,16,66,181,295,0,0,0,0,0,0,0,1947-48,2006-07,7
47,48,Extremadura,2,83,80,20,23,37,62,117,0,0,0,0,0,0,0,1996-97,1998-99,17
48,49,Merida,2,81,80,19,24,37,70,115,0,0,0,0,0,0,0,1995-96,1997-98,19
49,50,Alcoyano,4,76,108,30,16,62,145,252,0,0,0,0,0,0,0,1945-46,1950-51,10
50,51,Jaen,3,71,90,29,13,48,121,183,0,0,0,0,0,0,0,1953-54,1957-58,14
51,52,Real Union,4,56,72,21,14,37,153,184,0,0,0,0,0,1,1,1929,1931-32,6
52,53,AD Almeria,2,52,68,17,18,33,71,116,0,0,0,0,0,0,0,1979-80,1980-81,10
53,54,Europa,3,42,54,18,6,30,97,131,0,0,0,0,0,0,0,1929,1930-31,8
54,55,Lleida,2,40,68,13,14,41,70,182,0,0,0,0,0,0,0,1950-51,1993-94,16
55,56,Leganes,1,35,38,8,11,19,36,55,0,0,0,0,0,0,0,2016-17,2016-17,17
56,57,Xerez,1,34,38,8,10,20,38,66,0,0,0,0,0,0,0,2009-10,2009-10,20
57,58,Condal,1,22,30,7,8,15,37,57,0,0,0,0,0,0,0,1956-57,1956-57,16
58,59,Atletico Tetuan,1,19,30,7,5,18,51,85,0,0,0,0,0,0,0,1951-52,1951-52,16
59,60,Cultural Leonesa,1,14,30,5,4,21,34,65,0,0,0,0,0,0,0,1955-56,1955-56,15
60,61,Girona,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,2017-18,2017-18,9

## Create a new column with name â€œWinning Percentâ€ and append it to the data set

In [26]:
Laliga['GamesWon'] = Laliga.GamesWon.astype(int)
Laliga['GamesPlayed'] = Laliga.GoalsAgainst.astype(int)

### Percentage of Winning = (GamesWon / GamesPlayed)*100

In [27]:
Laliga['WinningPercent'] = (Laliga.loc[:,'GamesWon'] / Laliga.loc[:,'GamesPlayed'])*100

### If there are any numerical error, replace it with 0%

In [28]:
Laliga['WinningPercent'].fillna(0,inplace=True)

In [29]:
Laliga.tail()

,Pos,Team,Seasons,Points,GamesPlayed,GamesWon,GamesDrawn,GamesLost,GoalsFor,GoalsAgainst,...,Runner-up,Third,Fourth,Fifth,Sixth,T,Debut,Since/LastApp,BestPosition,WinningPercent
56,57,Xerez,1,34,66,8,10,20,38,66,...,0,0,0,0,0,0,2009-10,2009-10,20,12.121212
57,58,Condal,1,22,57,7,8,15,37,57,...,0,0,0,0,0,0,1956-57,1956-57,16,12.280702
58,59,Atletico Tetuan,1,19,85,7,5,18,51,85,...,0,0,0,0,0,0,1951-52,1951-52,16,8.235294
59,60,Cultural Leonesa,1,14,65,5,4,21,34,65,...,0,0,0,0,0,0,1955-56,1955-56,15,7.692308
60,61,Girona,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,2017-18,2017-18,9,0.000000

### Print the top 5 teams which has the highest Winning percentage

In [30]:
Laliga.sort_values(by=['WinningPercent'],ascending=False,inplace=True)

In [31]:
Laliga['Team'].head()

0         Real Madrid
1           Barcelona
2     Atletico Madrid
3            Valencia
20         Villarreal
Name: Team, dtype: object

### Group teams based on their â€œBest positionâ€ and print the sum of their points for all positions
##### Eg: Best_Position            Points
##### 1                              25000
##### 2                              7000

In [32]:
LaligaGroup = Laliga[['BestPosition','Points']]

In [33]:
LaligaGroup

    BestPosition  Points
0              1    4385
1              1    4262
2              1    3442
3              1    3386
20             2     970
4              1    3368
5              1    2819
7              1    2573
10             1    1814
8              2    2109
6              3    2792
9              1    1884
18             3    1148
41             7     150
15             4    1351
24             6     553
11             4    1789
16             4    1314
14             2    1389
38            10     190
12             4    1471
30             7     375
19             2    1020
43            10     132
17             3    1174
26             5     510
28             6     421
23             5     606
33             7     293
13             2    1416
..           ...     ...
40            12     168
21             6     667
45             9      96
35             7     277
31             4     353
29             6     416
25             5     538
34             4     285
22             8     662
47            17      83
36             8     242
39             8     188
48            19      81
50            14      71
32            12     343
52            10      52
42            17     148
27            11     445
55            17      35
44             3     107
53             8      42
57            16      22
56            20      34
49            10      76
46             7      91
51             6      56
58            16      19
59            15      14
54            16      40
60             9       0

[61 rows x 2 columns]

In [34]:
GroupByBestPosition = LaligaGroup.groupby('BestPosition')

In [35]:
print("Best_Position","\tPoints")
for BestPosition,data in GroupByBestPosition:
    totalPoints = 0
    for i in data['Points']:
        totalPoints += i
    print(BestPosition,"\t\t",totalPoints)

Best_Position 	Points
1 		 27933
2 		 6904
3 		 5221
4 		 6563
5 		 1884
6 		 2113
7 		 1186
8 		 1134
9 		 96
10 		 450
11 		 445
12 		 511
14 		 71
15 		 14
16 		 81
17 		 266
19 		 81
20 		 34